<section class="investement-first">
		<div class="container">
			<div class="col-md-12">
				<h1 class="color-white title-head">My Investment</h1>
			</div>
		</div>
	</section>
	<section class="tabs-wrapper">
		<div class="container">
			<div class="bs-example col-md-12">
	<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a href="#sectionA">Summary</a></li>
		<li><a href="#sectionB">History</a></li>
		
	</ul>
	<div class="tab-content col-md-12">
		<div id="sectionA" class="tab-pane fade in active col-md-12 resptable">
			<div class="col-md-8 resolution-padding">
			<h2 class="margin-none">My Activity</h2>
			<table class="text-left">
				<thead>
				<tr>
				<th>Date</th>
					<th>Type</th>
					<th>Description</th>
					<th>Amount</th>
					
				</tr>
				 </thead>
				<tbody>
					<tr>
						<td>11/11/11</td>
						<td>Invested</td>
						<td class="color-yellow">Property Name or Title <i class="fa fa-arrow-circle-right"></i></td>
						<td>$10,000</td>
					</tr>
					 <tr>
						<td>11/11/11</td>
						<td>Invested</td>
						<td class="color-yellow">Property Name or Title <i class="fa fa-arrow-circle-right"></i></td>
						<td>$10,000</td>
					</tr>
					 <tr>
						<td>11/11/11</td>
						<td>Invested</td>
						<td class="color-yellow">Property Name or Title <i class="fa fa-arrow-circle-right"></i></td>
						<td>$10,000</td>
					</tr>
					 <tr>
						<td>11/11/11</td>
						<td>Invested</td>
						<td class="color-yellow">Property Name or Title <i class="fa fa-arrow-circle-right"></i></td>
						<td>$10,000</td>
					</tr>
					 <tr>
						<td>11/11/11</td>
						<td>Invested</td>
						<td class="color-yellow">Property Name or Title <i class="fa fa-arrow-circle-right"></i></td>
						<td>$10,000</td>
					</tr>
				</tbody>
			   
			</table>
			
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 tablist resolution-padding">
					<h2 class="text-left border-bold">My Documents</h2>
					<ul class="add-detail">
						<li>SEP 03 <span class="color-yellow">FUNDING AGREEMENT</span></li>
						 <li>SEP 03 <span class="color-yellow">FUNDING AGREEMENT</span></li>
						 <li>SEP 03 <span class="color-yellow">FUNDING AGREEMENT</span></li>
					</ul>
					
				</div>
			 </div>
		<div id="sectionB" class="tab-pane fade col-md-12">
			<h3>Section B</h3>
			<p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
		</div>
		
	</div>
				
</div>
		</div>
	</section>