<div class="gray_background">

    <div class="deals_container">
        <ul class="deals_list">
            <li class="deals_list_item"><img alt="video_place_holder" src="/assets/placeholder_deals.png" /></li>
            <li class="deals_list_item"><img alt="video_place_holder" src="/assets/placeholder_deals.png" /></li>
            <li class="deals_list_item"><img alt="video_place_holder" src="/assets/placeholder_deals.png" /></li>
        </ul>
    </div>

</div>