<div class="gray_background">

    <div class="deals_container">
        <div class="deal_item">
           <div class="deal_header">
               <div class="deal_title">Land Baron Club Them Series</div>
               <h2 class="deal_h2_header">Future Of Work</h2>
           </div>
            <div class="deal_sub_container">
               <h3 class="deal_h3_sub">
                   Theme Series: Future of Work I
               </h3>
                <div class="deal_description">
                    Themed fund targeting companies changing the way we think about employment (the "Future of Work"). Themes will include: recruiting/HR, utilizing un- and under-employment, de-centralized workforces, etc. Examples: Uber, Instacart, TalentBin
                </div>
                <div class="deal_bullet_points">
                    <ul>
                        <li>Multi-Company Fund</li>
                        <li>Future of work</li>
                        <li>60 watching</li>
                    </ul>
                </div>
                <div class="deal_status_container">
                    <a class="blue_button_sub reserve_sub" href="#">Invest Now</a>
                    <a class="blue_button_sub reserve_sub" href="#">View Details</a>
                </div>
            </div>
        </div>
        <div class="deal_item">
            <div class="deal_header">
                <div class="deal_title">Land Baron Club Theme Series</div>
                <h2 class="deal_h2_header">Mobile</h2>
            </div>
            <div class="deal_sub_container">
                <h3 class="deal_h3_sub">
                    Theme Series: Future of Work I
                </h3>
                <div class="deal_description">
                    Themed fund targeting companies changing the way we think about employment (the "Future of Work"). Themes will include: recruiting/HR, utilizing un- and under-employment, de-centralized workforces, etc. Examples: Uber, Instacart, TalentBin
                </div>
                <div class="deal_bullet_points">
                    <ul>
                        <li>Multi-Company Fund</li>
                        <li>Future of work</li>
                        <li>60 watching</li>
                    </ul>
                </div>
                <div class="deal_status_container">
                    <a class="blue_button_sub reserve_sub" href="#">Invest Now</a>
                    <a class="blue_button_sub reserve_sub" href="#">View Details</a>
                </div>
            </div>
        </div>

        <div class="deal_item">
            <div class="deal_header">
                <div class="deal_title">Land Baron Club Theme Series</div>
                <h2 class="deal_h2_header">Future Of Work</h2>
            </div>
            <div class="deal_sub_container">
                <h3 class="deal_h3_sub">
                    Theme Series: Future of Work I
                </h3>
                <div class="deal_description">
                    Themed fund targeting companies changing the way we think about employment (the "Future of Work"). Themes will include: recruiting/HR, utilizing un- and under-employment, de-centralized workforces, etc. Examples: Uber, Instacart, TalentBin
                </div>
                <div class="deal_bullet_points">
                    <ul>
                        <li>Multi-Company Fund</li>
                        <li>Future of work</li>
                        <li>60 watching</li>
                    </ul>
                </div>
                <div class="deal_status_container">
                    <a class="blue_button_sub reserve_sub" href="#">Invest Now</a>
                    <a class="blue_button_sub reserve_sub" href="#">View Details</a>
                </div>
            </div>


        </div>


       <!-- <ul class="deals_list">
            <li class="deals_list_item"><img alt="video_place_holder" src="/assets/placeholder_deals.png" /></li>
            <li class="deals_list_item"><img alt="video_place_holder" src="/assets/placeholder_deals.png" /></li>
            <li class="deals_list_item"><img alt="video_place_holder" src="/assets/placeholder_deals.png" /></li>
        </ul>-->





    </div>

</div>