
<div class="gray_background">
    <div class="invest_container">
        <h1>Comfirmation Page</h1>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        Thank you for investing with us. Let's make money!


    <br />




   </div>

</div>