



<div class="gray_background">
    <div class="invest_container">
        <h1>Invest Now Form</h1>
        <br /><br /><br />


    </div>
        <br />
        <div class="invest_container">
            Investment information: <br />
            <br />
            <% @invest_now.each do |invest_now| %>
                <%=invest_now %>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <a class="invest_now_form_page invest_now_button" href="/confirmation/<%=invest_now['id'] %>">Invest</a>

        <% end %>

        </div>
        <br />
    <div class="invest_container">




    </div>




</div>