



<div class="gray_background">
    <div class="invest_container">
        <h1>Invest Now Form</h1>
        <br /><br /><br />


    </div>
        <br />
        <div class="invest_container">
            Record Id: <%=@invest_now %>
        </div>
        <br />
    <div class="invest_container">
        <br />
        <br />
        <a class="invest_now_form_page invest_now_button" href="/confirmation/<%=@invest_now %>">Invest</a>

    </div>




</div>