<div class="gray_background">
    <div class="investment_detail_container">
        <div class="investment_detail_overview_container">
            <div class="row">
                <div class="col-md-3 investment_detail_overview">
                    <div class="deal_header investment_header">
                        <div class="deal_header">
                            <div class="deal_title">Land Baron Club Theme Series</div>
                            <h2 class="deal_h2_header">Future Of Work</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 investment_detail_overview_middle">
                    <h2>Theme Series: Future of Work I</h2>
                    <p>Themed fund targeting companies changing the way we think about employment (the "Future of Work"). Themes will include: recruiting/HR, utilizing un- and under-employment, de-centralized workforces, etc. Examples: Uber, Instacart, TalentBin</p>
                </div>
                <div class="col-md-3 investment_detail_overview investment_detail_button">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="blue_button_sub reserve_sub reserve_long" href="#">Invest Now</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>