
<div class="gray_background">
    <div class="invest_container">
        <h1>Comfirmation Page</h1>
        <br />
        <br />
        <br />
        <br />
        Record Id: <%=@invest_now %>
        <br />
        <br />
        Thank you for investing with us. Let's make money!

    </div>
    <br />






</div>