<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h1>Thank You <strong><%= @user.first_name %> <%= @user.last_name %></strong></h1>
        <p>
            This email confirms your investment.
        </p>
  </body>
</html>
