// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


.logo_link_img{
  width:250px;
}

#header {
  background: #000;
}

#header #comments {
  display:none;
}

#header h1 {
  font-size:25px;
  color: #fff;
}

#header ul.tabs > li.current > a {
  background: none repeat scroll 0 0 #6c7a7d;
}

#edit_user .active_admin_button, #new_user .active_admin_button {
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  font: 14px/100% Arial,Helvetica,sans-serif;
  margin: 0 2px 0 60px;
  outline: medium none;
  padding: 0.5em 2em 0.55em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  vertical-align: baseline;
  /*background: -moz-linear-gradient(center top , #e0af00, #e0af00) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  background: linear-gradient(to top, #e0af00, #e0af00);
  filter: contrast(1);
  font-weight: bold;
  border: 1px solid #e0af00;
  color: #e9e9e9;
  background:#e0af00;
}

#edit_investment .active_admin_button, #new_investment .active_admin_button, , #active_admin_content .buttons input, , #active_admin_content .buttons a  {
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  font: 14px/100% Arial,Helvetica,sans-serif;
  margin: 0 2px 0 60px;
  outline: medium none;
  padding: 0.5em 2em 0.55em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  vertical-align: baseline;
  /*background: -moz-linear-gradient(center top , #e0af00, #e0af00) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  background: linear-gradient(to top, #e0af00, #e0af00);
  filter: contrast(1);
  font-weight: bold;
  border: 1px solid #e0af00;
  color: #e9e9e9;
  background:#e0af00;
}

#edit_medium .active_admin_button, #new_medium .active_admin_button, {
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  font: 14px/100% Arial,Helvetica,sans-serif;
  margin: 0 2px 0 60px;
  outline: medium none;
  padding: 0.5em 2em 0.55em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  vertical-align: baseline;
  /*background: -moz-linear-gradient(center top , #e0af00, #e0af00) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  background: linear-gradient(to top, #e0af00, #e0af00);
  filter: contrast(1);
  font-weight: bold;
  border: 1px solid #e0af00;
  color: #e9e9e9;
  background:#e0af00;
}

#edit_principle_investor .active_admin_button, #edit_principle_investor .active_admin_button, {
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  font: 14px/100% Arial,Helvetica,sans-serif;
  margin: 0 2px 0 60px;
  outline: medium none;
  padding: 0.5em 2em 0.55em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  vertical-align: baseline;
  /*background: -moz-linear-gradient(center top , #e0af00, #e0af00) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  background: linear-gradient(to top, #e0af00, #e0af00);
  filter: contrast(1);
  font-weight: bold;
  border: 1px solid #e0af00;
  color: #e9e9e9;
  background:#e0af00;
}



#edit_medium input, #new_medium input, #edit_user input, #new_user input {
  background-color: #fff;
  background-image: none;
  border: 1px solid #e0af00;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#edit_principle_investor input, #edit_principle_investor input {
  background-color: #fff;
  background-image: none;
  border: 1px solid #e0af00;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}




#active_admin_content .buttons .clear_filters_btn {
  margin-top:10px;
}

#investment_qa_input label {

}

#dashboard_welcome {
  font-size: 35px;
  padding: 120px;
  text-align: center;
  color: #e0af00;
  font-weight: bold;
}



.table_actions a {
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  font: 14px/100% Arial,Helvetica,sans-serif;
  margin: 0 2px 0 60px;
  outline: medium none;
  padding: 0.2em 1em 0.25em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  vertical-align: baseline;
  /*background: -moz-linear-gradient(center top , #e0af00, #e0af00) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  background: linear-gradient(to top, #e0af00, #e0af00);
  filter: contrast(1);
  font-weight: bold;
  border: 1px solid #e0af00;
  color: #e9e9e9;
  background:#e0af00;
  margin-left:0;

}


#edit_investment .cancel, #new_investment .cancel, #edit_user .cancel {
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  font: 14px/100% Arial,Helvetica,sans-serif;
  margin: 0 2px 0 60px;
  outline: medium none;
  padding: 0.5em 2em 0.55em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  vertical-align: baseline;
  /*background: -moz-linear-gradient(center top , #e0af00, #e0af00) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  background: linear-gradient(to top, #e0af00, #e0af00);
  filter: contrast(1);
  font-weight: bold;
  border: 1px solid #e0af00;
  color: #e9e9e9;
  background:#e0af00;
}


#edit_medium .cancel, #new_medium .cancel, #new_user .cancel {
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  font: 14px/100% Arial,Helvetica,sans-serif;
  margin: 0 2px 0 60px;
  outline: medium none;
  padding: 0.5em 2em 0.55em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  vertical-align: baseline;
  /*background: -moz-linear-gradient(center top , #e0af00, #e0af00) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  background: linear-gradient(to top, #e0af00, #e0af00);
  filter: contrast(1);
  font-weight: bold;
  border: 1px solid #e0af00;
  color: #e9e9e9;
  background:#e0af00;
}


#edit_principle_investor .cancel, #edit_principle_investor .cancel {
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  font: 14px/100% Arial,Helvetica,sans-serif;
  margin: 0 2px 0 60px;
  outline: medium none;
  padding: 0.5em 2em 0.55em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  vertical-align: baseline;
  /*background: -moz-linear-gradient(center top , #e0af00, #e0af00) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  background: linear-gradient(to top, #e0af00, #e0af00);
  filter: contrast(1);
  font-weight: bold;
  border: 1px solid #e0af00;
  color: #e9e9e9;
  background:#e0af00;
}



#edit_user .cancel a, #new_user .cancel a {
  color:#fff;
  text-decoration: none;
}



#edit_investment .cancel a, #new_investment .cancel a, #edit_medium .cancel a, #new_medium .cancel a, #edit_principle_investor .cancel a{
  color:#fff;
  text-decoration: none;
}


form#edit_medium input#medium_media_item {

}

#edit_investment input, #new_investment input,{
  background-color: #fff;
  background-image: none;
  border: 1px solid #e0af00;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#edit_investment::-moz-placeholder {
  color: #bdbdbd;
  opacity: 1;
}

form fieldset legend span, .section > h3, .panel > h3, table.index_table th {
  background: #6c7a7d;
  color: #fff;
  text-shadow: none;
  font-weight: 600;
}

form fieldset > ol > li p.inline-hints img {
  border: 1px solid #ccc;
  padding:5px;
}

#active_admin_content #main_content_wrapper #main_content {
  margin-right:0px;
}

form fieldset > ol > li, form fieldset.inputs {
  background-color: #e6e6e6;
}

table.index_table th.sortable a {
  color: #fff;
}

table.index_table .table_actions {
    width:215px;
}

#filters_sidebar_section {
  display:none;
}

#investment_status {
  font-size: 14px;
  font-weight: 300;
  padding: 6px;
}

#active_admin_content .panel_contents {
  font-weight:300;
}

#active_admin_content #comments h3 {
  display: none;
}

#session_new #admin_user_submit_action input {
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  font: 14px/100% Arial,Helvetica,sans-serif;
  margin: 0 2px 0 60px;
  outline: medium none;
  padding: 0.5em 2em 0.55em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  vertical-align: baseline;
  /*background: -moz-linear-gradient(center top , #e0af00, #e0af00) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  background: linear-gradient(to top, #e0af00, #e0af00);
  filter: contrast(1);
  font-weight: bold;
  border: 1px solid #e0af00;
  color: #e9e9e9;
  background:#e0af00;
}

#admin_user_email_input, #admin_user_password_input, #admin_user_remember_me_input, #admin_user_submit_action {
  background-color:#fff;
}




form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="url"]:focus,
form input[type="tel"]:focus{
  border-color: #e0af00;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(224, 175, 0, 1);
}

.media_item_link_img {
  width:200px;
}

.media_image_show {
  width:300px;
}

.principle_investor_link_img {
  width:200px;
}

form fieldset > ol > li p.inline-hints img {
  width:250px;
}






