/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require reset
 *= require main
 *= require jquery-ui
 */
.hidden
{
  display: none;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

#flash_error {
    border: 1px solid #000066;
    padding: 4px;
    margin-bottom: 10px;
    background-color: #cc3333;
}

#flash_notice {
    border: 1px solid #000066;
    padding: 4px;
    margin-bottom: 10px;
    background-color: #A3B15A;
}

.header_links {
    font-family: "Oswald";
    margin-left: 50%;
    text-align:right;
    margin-right: 50px;
    margin-top: 10px;
}

.header_links a{
    color: #696969;
    font-family: "Oswald";
    font-weight: bold;
    font-size: 16px;
}

.header_links a:hover{
    text-decoration: none;
}

.header_links a:visited{
    text-decoration: none;
}

.header_links_list {

}

.header_links_list_value {
    display: inline;
    padding-left: 15px;
}

.header_links_username {
    font-size: 16px;
}

.header_links_username span {
    font-weight: bold;
}


.logo {
    width: 25%;
    float: left;
    margin-left: 50px;
    margin-top: 8px;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    color: #696969;
    font-family: "Oswald";
}
.logo a:hover{
    text-decoration: none;
}

.logo a:visited{
    text-decoration: none;
}

.signup_login_container {
    margin: auto;
    width: 40%;
    box-shadow: 0 0 3px #c0c0c0;
}

.lbc_tabs {

}

.lbc_tabs a:hover {
    text-decoration: none;
}

.lbc_tab {
    display: table;
    height: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    font-family: "Oswald";
}

.create_account_tab {
    float: left;
    width: 50%;
}

.create_account_tab_notselected {
    border-bottom: 1px solid #d3d3d3;
    background-color: #e9e9e9;
}

.create_account_link {
    color: #696969;
}

.signin_account_tab {
    width: 50%;
    border-left: 1px solid #d3d3d3;
}

.signin_account_tab_notselected {
    border-bottom: 1px solid #d3d3d3;
    background-color: #e9e9e9;
}

.login_account_link {
    color: #696969;
}

.form_container {
    margin: auto;
    width: 85%;
    padding: 30px;
}

.form_container input {
    font-family: "Oswald";
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #666;
    display: block;
    font-size: 16px;
    height: 36px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.form_container select {
    font-family: "Oswald";
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #ADADAD;
    display: block;
    font-size: 16px;
    height: 36px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.form_group{
    padding-top: 10px;
}

.submission_form {

}

.first_name_form {
    float: left;
    padding-bottom: 10px;
}

.last_name_form {
    float: left;
    margin-left: 33px;
    padding-bottom: 10px;
    width: 50%;
}

.address_form {
    float: left;
    padding-bottom: 10px;
    width: 50%;
}

.state_form {
    float: left;
    margin-left: 33px;
    padding-bottom: 10px;
    width: 20%;
}

.state_form select {
    height: 50px;

}

.income_range_form {
    width: 105%;
}

.income_range_form select {
    height: 50px;
}

.address_form input {

}

.postal_code_form {
    float: left;
    margin-left: 10px;
    width: 20%;
}

.postal_code_form input {

}

.submission_form input {
    background-color: #696969;
    color: #fff;
    margin-top: 20px;
    text-shadow: none;

}

.error_message {
    color: red;
    font-size: 12px;
    padding-top: 5px;
}


















