<footer >
	<div class="footer-above">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-3 col-sm-6 col-xs-12 text-left">
					<h3>Support</h3>
					<ul>
						<li><a href="http://www.landbaronclub.com/contact/">Contact Us</a></li>
						<%if 1==2%>
							<li><a href="http://www.landbaronclub.com/faq/">FAQs</a></li>
						<%end%>
					</ul>
				</div>
				 <div class="footer-col col-md-3 col-sm-6 col-xs-12 text-left">
					<h3>About</h3>
					<%if 1==2%>
						<ul class="width-half">
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">FAQs</a></li>
							<li><a href="#" onclick="alert('Will be coming soon...')">How to Invest</a></li>
							<li><a href="#" onclick="alert('Will be coming soon...')">Investment Calculator(Coming soon)</a></li>
						</ul>
					<%end%>
					<ul class="width-half">
						<li><a href="https://twitter.com/Landbaronclub"><i class="fa fa-fw fa-twitter"></i> Twitter</a></li>
						<li><a href=" https://www.linkedin.com/company/land-baron-club"><i class="fa fa-fw fa-linkedin"></i> Linkedin</a></li>
						<li><a href="#"><i class="fa fa-youtube-square"></i> Youtube</a></li>
					</ul>
				</div>
			 <div class="footer-col col-md-3 col-sm-6 col-xs-12 text-left">
					<h3>Legal</h3>
					<ul>
						<li><a href="http://www.landbaronclub.com/privacy-policy/">Privacy Policy</a></li>
						<li><a href="http://www.landbaronclub.com/terms/">Term of Use</a></li>
						<li></li>
						<li></li>
						<li>&copy; 2015 Land Baron Club. All Rights Reserved</li>
					</ul>
				</div>
				<div class="footer-col col-md-3 col-sm-6 col-xs-12">
					<a href="#"><%= image_tag 'logo.png'%></a>
				</div>
			</div>
		</div>
	</div>

</footer>